
.product-holder{
  width: 30%;
  height: 300px;
  border: 1px solid black;  
  display: flex;
  margin: 10px;
}

.product-info-holder{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-around;
}

.box-45 {
    width: 45%;
}

.menu-window {
  width: 20%;
  height: 92.3vh;
  padding: 7px;
  position: fixed;
  left: 0;
  bottom: 0;
  border: 1px solid black;
  background: gold;
}

.categories-list-menu{
  margin: 10px;
  padding: 5px;
  font-size: 13px;
  list-style: none;
}

.products-view{
  width: 100%;
  padding-left: 20%;
  background: rgb(240, 240, 240);
  min-height: 100vh;
  margin-top: -5px;
}

.products-window-holder{
  width: 100%;
  padding:10px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.client-categories-menu{
  margin: 7px;
  padding: 7px;
  list-style:none;
}

.client-categories-menu li {
  margin: 7px;
  padding: 7px;
}

.active {
  color :purple;
  font-weight: bold;
}

.product-cart-header{
  width: 100%;
  padding: 3px;
  border-bottom:1px solid rgb(230, 212, 212);
  text-align: center;
  margin-bottom: 5px;
}

.product-image-holder {
  height: 90%;
  width: 99%;
  transition: all 0.5s linear;
  overflow: hidden;
  background: transparent;
}

.box-45-hover{
  width: 45%;
  transition: all 0.5s linear;
  overflow: hidden;
  color: rgb(196, 11, 11);
  height: 90%;
  padding: 3px
}

.product-holder-box {
    width: 48%;
    height: 300px;
    margin: 10px;
    padding: 1px;
    background: rgb(164, 255, 164);
    border-radius: 10px;
}

.product-image-holder:hover, .box-45-hover:hover {
  transform: scale(1.1);
}

.price-holder{
  text-align: center;
}

.text-holder{
  height: 85%;
  text-align: center;
}