
.sidebar-window {
    width: 20%;
    height: 90vh;
    position: fixed;
    right: 0;
    background: rgb(253, 240, 163);
    padding: 20px;
}

.sidebar-window  ul {
    list-style: none;
}

.sidebar-window  ul li {
   margin: 10px 0;
   cursor: pointer;
}

.sidebar-window  ul li:hover , .sidebar-window  ul li a:hover {
    color: red;
}

.arrow {
    cursor: pointer;
    user-select: none;
  }
  
  .arrow::before {
    content: "\25B6";
    color: gray;
    display: inline-block;
    margin-right: 5px;
    float: left;
    margin-left: -15px;
  }