
.cards-slider-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    left: 0.7%;
}


.cards-slider {
    width: 70%;
    height: 400px;
    border: 1px solid silver;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}

.cards-slider::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}




.product-image-holder {
    width: 100%;
    height: 100%;
    flex: 1;
}

.product-image-holder .image-example {
    min-width: 930px;
    margin: 0 5px;
}

.image-example{
    width: 90%;
    height: 90%;
    margin: 5% auto;
}

.back-img{
    width: 100%;
    height: 100%;
}